* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    position: relative;
}

.display-count {
    width: 350px;
    height: 250px;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: #e5e6e4;
    border-radius: 15px;
    border: 1px solid rgb(146, 146, 146);
    box-shadow: var(black);
}

h2 {
    margin-top: 20px;
    font-size: 45px;
    font-style: bold;
    font-family: fantasy;
    color: #072f42;
}

p {
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

.btn-plus {
    border-radius: 20px;
    background: #b2e272;
}

.btn-plus:hover {
    background-color: rgba(27, 139, 36, 0.4);
    color: #1a8629;
    border-color: #1a8629;
}


.btn-menus {
    border-radius: 20px;
    background: #f58888;
}

.btn-menus:hover{
    background-color: rgba(202, 27, 27, 0.4);
    color: #d84e4e;
    border-color: #d84e4e;
}